.chat {
	background: rgba(#242730, 1);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	// font-family: "Dank Mono";
	// font-weight: normal;

	.viewers {
		height: 40px;
		line-height: 40px;
		padding: 5px 15px;
		background: #2b2e39;
		color: #ffffff;
		outline: none;
		border: 0;
	}

	.messages {
		flex: 1;
		overflow-y: auto;
		padding: 0;
		word-wrap: break-word;

		p {
			margin: 0;
			padding: 10px 15px;

			&:nth-child(even) {
				background:#22242d;
			}

			* {vertical-align: middle; }
		}

		a {
			text-decoration: none;
			color: inherit;
			border-bottom: 1px dotted #fff;
		}

		.time {
			font-style: italic;
			display: inline !important;
			opacity: 0.6;
			font-size: 0.7rem;
			padding-right: 10px;
		}

		.action { font-style: italic; }

		.username {
			font-weight: bolder !important;
			padding-right: 10px;
			text-transform: capitalize;
			&:after { content: ":"; }
		}

		.tag {
			background: rgba(145, 26, 26, 0.5);
			padding: 3px 5px;
			border-radius: 3px;
		}
		
		// #region User Chat Colours
		[data-name="tim"] {
			color: var(--accent);

			&:before {
				content: "🦄";
				padding-right: 5px;
			}
		}

		[data-name="jack"] {
			color: #a8a230;

			&:before {
				content: "🖕";
				padding-right: 5px;
			}
		}

		[data-name="nathan"] {
			color: #00aced;

			&:before {
				content: "🐺";
				padding-right: 5px;
			}
		}

		[data-name="mercxry"] {
			color: #4e913f;

			&:before {
				content: "👽";
				padding-right: 5px;
			}
		}

		[data-name="fletcher"] {
			color: #1e90ff;

			&:before {
				content: "🍕";
				padding-right: 5px;
			}
		}

		[data-name="byte"] {
			color: #1bb9dc;

			&:before {
				content: "⚒";
				padding-right: 5px;
			}
		}

		[data-name="aaron"] {
			color: #1bdc6b;

			&:before {
				content: "🐍";
				padding-right: 5px;
			}
		}

		[data-name="jamie"] {
			color: #e59554;

			&:before {
				content: "💖";
				padding-right: 5px;
			}
		}

		[data-name="jamie254"] {
			color: #bf54e5;

			&:before {
				content: "🤡";
				padding-right: 5px;
			}
		}

		[data-name="ash"] {
			color: #e554c6;

			&:before {
				content: "🎮";
				padding-right: 5px;
			}
		}

		[data-name="bot"] {
			color: #c73535;

			&:before {
				content: "🤖";
				padding-right: 5px;
			}
		}
		
		[data-name="datagutt"] {
			color: #9eebcf;

			&:before {
				content: "💻";
				padding-right: 5px;
			}
		}
		// #endregion User Chat Colours
	}

	.emoteMenu {
		position: absolute;
		bottom: 100px;
		right: 0;
		min-width: 350px;
		width: calc(100% - 10px);
		max-height: calc(100% - 175px);
		height: 350px;
		background: #2b2e39;
		-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
		overflow: auto;
		padding: 5px;
		text-align: center;

		&.search {
			height: auto;
			padding: 15px 5px;
		}

		.emoteMenuGroup {
			padding-bottom: 10px;
			border-bottom: 1px solid #252831;
		}

		p {
			font-size: 0.95em;
			margin: 5px 0;
		}

		img {
			padding: 3px;
			border-radius: 3px;
			height: 24px;
			cursor: pointer;

			&:hover {
				background: #252831;
			}
		}
	}

	.emoteProviders {
		position: absolute;
		bottom: 65px;
		right: 0;
		min-width: 350px;
		width: calc(100% - 10px);
		height: 30px;
		background: #22242d;
		-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
		overflow: auto;
		padding: 5px;
		text-align: center;
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		grid-auto-flow: row;

		&.search {
			display: block;
			text-align: left;
			line-height: 30px;

			span { 
				border-radius: 3px;
				padding: 5px 8px;
				background: #242730;
			}
		}

		.emoteProvider {
			vertical-align: middle;
			line-height: 30px;
			border-radius: 3px;

			&.active,
			&:hover {
				background: #242730;
			}

			.emoteProviderLogo {
				vertical-align: middle;
				height: 20px;
			}
		}
	}

	.emoteMenuButton {
		position: absolute;
		bottom: 25px;
		right: 0;
		opacity: 0.2;
		cursor: pointer;
		transition: 250ms all ease;

		&.active,
		&:hover {
			opacity: 1;
		}
	}

	.sendMsg {
		height: 40px;
		padding: 5px 15px;
		background: #2b2e39;
		color: #ffffff;
		outline: none;
		border: 0;
	}
}
